<aside class="chat-sidebar">
  <div class="chat-sidebar-header">
    <div class="chat-header-profile-nav">
      {{{add}}}
      {{{link}}}
    </div>
    {{{search}}}
  </div>
  {{{chats}}}
  {{{modal}}}
</aside>
