<div class="chat-area">
    <div class="chat-area__header">
        <div class="chat-header-media">
            {{{avatar}}}
            <h5 class="chat-header-media__title">{{name}}</h5>
        </div>
        {{{chatActions}}}
    </div>
    <div class="chat-area__messages">
        <div class="timeline-date">19 June</div>
        {{{messages}}}
    </div>
    <div class="chat-area__footer">
        <div class="message-bar">
            {{{messageActions}}}
            {{{sendMessage}}}
        </div>
    </div>
</div>
