<div class="chat-media-preview {{classes}}">
    {{{avatar}}}
    <div class="chat-media-preview__content message-preview">
        <div>
            <h5>{{title}}</h5>
            <div class="message-preview__text">
                {{text}}
            </div>
        </div>
        <div class="message-preview__meta">
            <div class="message-timer-bar">
                <span class="message-timer-bar__time">{{time}}</span>
                {{{cross}}}
            </div>
            <div class="message-preview__counter">
                <span>{{unreadCount}}</span>
            </div>
        </div>
    </div>
</div>
