<div class="dropdown {{classes}}">
    <div class="dropdown__trigger">
        {{{trigger}}}
    </div>
    <div class="dropdown__content {{position}}">
        {{{content}}}
    </div>
  {{{actions}}}
</div>
